* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 2rem 50px;
  background: linear-gradient(90deg, rgb(73, 70, 0) 0%, rgba(167, 125, 0, 1) 82%);
}
.links-list {
  margin: 50px 100px;
}
.heading {
  text-align: center;
}

.list-element {
  padding: 10px;
  font-size: 2rem;
}

.link {
  color: #000000;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
  color: #fff;
}

.description {
  padding: 10px;
}

.subheading {
  padding: 10px;
  text-decoration: underline;
}

.list {
  padding: 10px;
  .list-instructions {
    padding: 5px;
  }
}

.note {
  font-weight: bold;
}

.image {
  display: block;
  margin: 10px auto;
  width: 100%;
  max-width: 700px;
  box-shadow: 10px 10px 20px 5px;
}
